#title {
    font-size: 100px;
    font-weight: bold;
    font-family: Arial;
    position: relative;
    top: 50px;
}

.wordTable {
    width: 30%;
    height: 70%;
    border-spacing: 7px;
}

.smallText {
    width: 32px;
    height: 57px;
    font-size: 85px;
    position: relative;
    top: 0px;
    right: 0px;
}

.wordTable td {
    overflow: hidden;
    table-layout: fixed;
    width: 20%;
    height: 10%;
    text-align: center;
}

.wordTable tr {

}

.emptyBox {
    background-color: white;
    color: black;
    border: 3px solid;
    border-color: rgb(200,200,200);
    font-size: 49px;
    font-weight: bold;
    font-family: Arial;
}

.greenBox {
    background-color: green;
}

.yellowBox {
    background-color: #cc9c00;
}

.greyBox {
    background-color: grey;
}

.greenBox, .yellowBox, .greyBox {
    text-align: center;
    font-size: 54px;
    font-weight: bold;
    font-family: Arial;
    color: white;
}

body{
    user-select:none;
  }